
@{
    ViewBag.Title = "ErrorPage";
}


<div class="alert alert-warning text-center">
    <h2>404 ERROR</h2>
</div>


<script>setTimeout(function () {
        window.location.href="/Home/Index"
    }, 5000);</script>



